---
import '../styles/reset.css';
import '../styles/main.css';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Nathan Prospert</title>
	</head>
	<body>
		<header class="primary-header">
			<div class="container">
				<a href="#">Nathan Prospert</a>
				<Nav />
			</div>
		</header>
		<main>
			<Hero />
			<About />
		</main>
	</body>
</html>

