---
import Title from './Title.astro';
import ServiceBlock from './ServiceBlock.astro';
import ThreeStarsIcon from '../assets/icons/three-stars.svg';
---

<section class="service-section">
    <div class="container">
        <Title 
            title="Votre voyage débute maintenant !"
            subtitle="Découvrer un univers de possibilité grâce aux talents de notre pilote"
        >
            <ThreeStarsIcon />
        </Title>

        <div class="service-grid">
            <ServiceBlock
                title="Votre design"
                content="Ensemble, sublimons votre identité visuelle et donnons vie à vos idées !"
            >
                
            </ServiceBlock>
            <ServiceBlock
                title="Code personnalisé"
                content="Pour des solutions uniques et adaptées à vos besoins spécifque."
            >
                
            </ServiceBlock>
            <ServiceBlock
                title="Rapide & optimisé"
                content="Vos idées dopées à la puissance pour une performance sans compromis."
            >
                
            </ServiceBlock>
            <ServiceBlock
                title="Accessible"
                content="Une solution pensée inclusive avec une prise en main rapide et accessible à tous !"
            >
                
            </ServiceBlock>
            <ServiceBlock
                title="Prêt pour mobile"
                content="Faites briller votre site/application sur tous les appareils !"
            >
                
            </ServiceBlock>
            <ServiceBlock
                title="Comme chez vous"
                content="Créez une expérience web qui capture votre style unique et qui vous ressemble vraiment."
            >
                
            </ServiceBlock>
        </div>
    </div>
</section>