---
import Button from "./Button.astro";

---

<header class="site-header">
    <div class="container">
        <div class="site-header__inner">
            <img src="/images/logo" alt="Logo" />
            <nav class="nav">
                <ul class="nav | flex-group my-auto">
                    <li class="nav__item"><a href="">A Propos</a></li>
                    <li class="nav__item"><a href="">Mes Services</a></li>
                    <li class="nav__item"><a href="">Technologies</a></li>
                    <li class="nav__item"><a href="">Projets</a></li>
                    <li class="nav__item"><a href="">Témoignages</a></li>
                    <li><Button className="uppercase" variant="outlined">Contactez moi</Button></li>
                </ul>
            </nav>
        </div>
    </div>
</header>