---
import { Image } from "astro:assets"
import Button from "./Button.astro"
import AstronautPlanetImg from '../assets/images/astronaut-planet.png';
import AstronautCoffeeImg from '../assets/images/astronaut-coffee.png';
---

<section class="hero-section">
    <h1 class="hero-title">Créeons votre univers digital</h1>
    <p><strong>Développeur full-stack</strong> passionné par la création de site et d’application web 100% personnalisable, optimisé et accessible.</p>
    <Button>Commencer le voyage</Button>
    <Image src={AstronautPlanetImg} alt="Astronaut with mac on planet" />
    <Image src={AstronautCoffeeImg} alt="Astronaut with coffee on planet" />
</section>