<nav class="primary-navigation">
    <ul role="list" class="nav-list">
        <li class="nav-item"><a href="#">Service</a></li>
        <li class="nav-item"><a href="#">A propos de moi</a></li>
        <li class="nav-item"><a href="#">Projets</a></li>
        <li class="nav-item"><a href="#">Outils</a></li>
        <li class="nav-item"><a href="#">Contact</a></li>
    </ul>
</nav>