

<h1 class="heading-1">
    <slot />
</h1>

<style>

    h1 {
        position: relative;
        margin-bottom: 9rem;
    }

    h1::after {
        content: '';
        display: block;

        position: relative;
      
        left: 50%;

        width: 50%;
        height: 10px;
        margin-top: 1rem;

        background-color: var(--accent-300);

        transform: translateX(-50%);

    }
</style>