$-ff-inter: 'Inter';

$font-family-base: $-ff-inter;

$font-sizes: (
    "desktop": (
        "900" : 4rem,
        "800" : 3.2rem,
        "700" : 1.6em,
        "400" : 1.2em,
        "300" : 1rem,
    ),
    "mobile": (
        "900" : 2.4rem,
        "800" : 2rem,
        "700" : 1.6em,
        "400" : 1.2em,
        "300" : 1rem,
    )
  
);

$font-size-900: var(--fs-900);
$font-size-800: var(--fs-800);
$font-size-700: var(--fs-700);
$font-size-400: var(--fs-400);
$font-size-300: var(--fs-300);

$-fw-300: 300;
$-fw-400: 400;
$-fw-500: 500;
$-fw-600: 600;
$-fw-700: 700;

$font-weight-default: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;